* {
  /* -webkit-box-sizing: border-box; */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,html{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color:#0e0e0e;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
ol,ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

p,div{
  margin: 0;
  padding: 0;
}
a{
  color:#0e0e0e;
  text-decoration: none;
}

h1, h2 {
  font-weight: normal;
}

input[type="text"], input[type="password"],select, textarea {
  outline-style: none;
  -webkit-appearance: none;
}
button, input, select, textarea {
  background: transparent;
  font-size: 100%;
  outline: 0;
}
select, input {
  font-size: 12px;
  margin: 0;
  padding: 0;
  //border-radius: 0;
  border:none;
  vertical-align: middle;
}
  option{
    padding: 0;
  }
img {
  margin: 0;
  padding: 0;
  display: block;
  vertical-align: middle;
   border: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*
.bounce-enter-active {
  animation: bounce-in .2s;
}
.bounce-leave-active {
  animation: bounce-out .2s;
}
@keyframes bounce-in {
  0% {
    transform: scale(.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.4);
  }
}*/
